.input-container {
    display: flex;
    align-items: center;
    background-color: #0F172A;
    padding: 10px 15px;
    gap: 5px;
    border-radius: 20px;
  }
  
  .input-container .bash-text {
    font-size: 1.4rem;
    color: white;
  }
  
  .input-container .bash-text .user {
    color: #E879F9;
  }
  
  .input-container .bash-text .vm {
    color: #2DD4BF;
  }
  
  .input-container .bash-text .char {
    color: #A78BFA;
  }
  
  .input-container input[type=text].input {
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
  }